{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img"
             data-background={% static "assets/images/header/inner-5.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Our Events</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i class="flaticon-house"></i>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Event</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- event-overview-section start -->
    <section class="event-overview-section ptb-120">
        <div class="container">
            <div class="event-overview-area ml-b-90">
                <div class="row mrb-60">
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-thumb bg_img"
                             data-background={% static "assets/images/event/event-9.png" %}>
                            <div class="event-overview-thumb-overlay">
                                <a class="popup-youtube mfp-iframe" href="https://www.youtube.com/watch?v=0O2aH4XLbto">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-content">
                            <h3 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Event title in
                                here</h3>
                            <span class="event-date wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">08 november, 2019</span>
                            <h4 class="sub-title wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                                Conubia eleifend porttitor donec etiam sitorpce erat turpis massa arcu elementum, etiam
                                semper neque fames eros vehicula maecenas, cum urna, odio turpis sed nonummy, et ut
                                posuere nibh suspendisse. </h4>
                            <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Lorem ipsum dolor
                                sit amet, varius nunc. Nonummy tellus nibh ut suspendisse, velit nam maecenas
                                dictum,vehicula tellus montes scelerisque elit sem. Dolor sed etiam amet mauris porta.
                                Sodales pellentesque, mauris quis eget at. Tincidunt aptent vel mus sem ac. Nunc pede
                                vestibulum aliquam, vestibulum dignissim nulla ac, vitae feugiat wisi accumsan rutrum
                                justo ligula</p>
                            <a href="/event-details" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s"
                               data-wow-delay="0.5s">view details</a>
                        </div>
                    </div>
                </div>
                <div class="row flex-row-reverse mrb-60">
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-thumb bg_img"
                             data-background={% static "assets/images/event/event-10.png" %}>
                            <div class="event-overview-thumb-overlay">
                                <a class="popup-youtube mfp-iframe" href="https://www.youtube.com/watch?v=0O2aH4XLbto">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-content">
                            <h3 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Event title in
                                here</h3>
                            <span class="event-date wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">10 november, 2019</span>
                            <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Nullam turpis
                                dolorem, vivamus placerat in donec est, nonummy tristique massa a, dui felis in. Nulla
                                lorem aenean montes varius ultrices massa, vehicula sed, ut at ante, quis velit, at amet
                                amet placerat. Vestibulum in porttitor ipsum.</p>
                            <ul class="event-overview-list wow fade-in-bottom" data-wow-duration="1s"
                                data-wow-delay="0.5s">
                                <li><i class="fas fa-angle-double-right"></i>Porttitor mauris</li>
                                <li><i class="fas fa-angle-double-right"></i>Nonummy tristique</li>
                                <li><i class="fas fa-angle-double-right"></i>Dignissim etiam</li>
                            </ul>
                            <a href="/event-details" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s"
                               data-wow-delay="0.5s">view details</a>
                        </div>
                    </div>
                </div>
                <div class="row mrb-60">
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-thumb bg_img"
                             data-background={% static "assets/images/event/event-11.png" %}>
                            <div class="event-overview-thumb-overlay">
                                <a class="popup-youtube mfp-iframe" href="https://www.youtube.com/watch?v=0O2aH4XLbto">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-content event-overview-content--style">
                            <h3 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Upcoming
                                Event</h3>
                            <span class="event-date wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">13 november, 2019</span>
                            <div class="countdown-area countdown-area--style wow fade-in-up" data-wow-duration="1s"
                                 data-wow-delay="0.5s">
                                <div class="countdown"></div>
                            </div>
                            <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Facilisi commodo
                                adipiscing integer exercitationem, porttitur quis mi, quis a dolor nonummy ut elit
                                auctor. Et sit metus convallihac vestibulum cras at erat mauris, wisi diam molestie id
                                etispurtellus, mi etiam. Pede felis curae. Nullam facilisi turpis nibh egestas, in dolor
                                auctor. Suspendisse fusce vulputate</p>
                            <a href="/event-details" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s"
                               data-wow-delay="0.5s">view details</a>
                        </div>
                    </div>
                </div>
                <div class="row flex-row-reverse mrb-60">
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-thumb bg_img"
                             data-background={% static "assets/images/event/event-12.png" %}>
                            <div class="event-overview-thumb-overlay">
                                <a class="popup-youtube mfp-iframe" href="https://www.youtube.com/watch?v=0O2aH4XLbto">
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mrb-30">
                        <div class="event-overview-content">
                            <h3 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Event title in
                                here</h3>
                            <span class="event-date wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">12 november, 2019</span>
                            <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Pretium at ut,
                                egestas est pede sed, lorem lectus imperdiet o sit. Facilisis et phasellus vitae ante
                                tempus eget, lacus peltesque, sit molestie orci, mauris magna viverra nibh. Ut sagittis
                                condimentum vestibulum, nec rutrumemper.</p>
                            <ul class="event-overview-list event-overview-list--style wow fade-in-bottom"
                                data-wow-duration="1s" data-wow-delay="0.5s">
                                <li><i class="fas fa-check"></i>Aliquam Elitdonec Praesent</li>
                                <li><i class="fas fa-check"></i>Tristique Massa</li>
                                <li><i class="fas fa-check"></i>Suscipit Massaipsum</li>
                            </ul>
                            <a href="/event-details" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s"
                               data-wow-delay="0.5s">view details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center pd-t-80 wow fade-in-bottom" data-wow-duration="1s"
                 data-wow-delay="0.5s">
                <a href="/event" class="trans-btn">load more+</a>
            </div>
        </div>
    </section>
    <!-- event-overview-section end -->



    <!-- pricing-section start -->
    <section class="pricing-section pricing-section-two sec-bg pd-t-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">Buy Your Event Ticket</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue
                            Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.5s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Silver</h3>
                        </div>
                        <div class="pricing-body">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i>Lifetime membership</li>
                                <li><i class="fas fa-check"></i>Profile security</li>
                                <li><i class="fas fa-check"></i>free notification</li>
                                <li><i class="fas fa-check"></i>email services</li>
                            </ul>
                            <h3 class="amount">$280</h3>
                            <a href="#0" class="cmn-btn">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.8s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Golden</h3>
                        </div>
                        <div class="pricing-body">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i>Lifetime membership</li>
                                <li><i class="fas fa-check"></i>Profile security</li>
                                <li><i class="fas fa-check"></i>free notification</li>
                                <li><i class="fas fa-check"></i>email services</li>
                            </ul>
                            <h3 class="amount">$280</h3>
                            <a href="#0" class="cmn-btn">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="1s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Diamond</h3>
                        </div>
                        <div class="pricing-body">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i>Lifetime membership</li>
                                <li><i class="fas fa-check"></i>Profile security</li>
                                <li><i class="fas fa-check"></i>free notification</li>
                                <li><i class="fas fa-check"></i>email services</li>
                            </ul>
                            <h3 class="amount">$280</h3>
                            <a href="#0" class="cmn-btn">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120 sec-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}