{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img"
             data-background={% static "assets/images/header/inner-5.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Member
                            Details</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                    <li class="breadcrumb-item"><a href="user.html">Members</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Member Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- about-story-section start -->
    <section class="about-story-section pd-t-120">
        <div class="container">
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-12 mrb-30">
                    <div class="about-story-area about-story-area-two d-flex flex-wrap align-items-center">
                        <div class="about-story-thumb">
                            <img src="../static/assets/images/story/story-details-2.png" alt="story">
                        </div>
                        <div class="about-story-content-two">
                            <div class="about-story-content-body-two">
                                <h3 class="title">Marina Kubora</h3>
                                <span class="sub-title">25 Years Old</span>
                                <p>Massa litora ante enim, tortor placerat, ut cras eu. Risus neque consectetuintdum
                                    porttitor bibendum tristique velit magna at, lectus consectetuer, blandit vel acus
                                    donec quam nisi, imperdiet a conubia dui donec amet. Urna mauris vel justo non
                                    egestas, mauris sit malesuada nisl ridiculus, risus dui. A diam donec auctor nam.
                                    Sit etiam vivamus feugiat nulla sollicitudin </p>
                                <div class="about-story-content-footer d-flex flex-wrap justify-content-between">
                                    <ul class="footer-social-two">
                                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                    <ul class="team-wish-list">
                                        <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                                        <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                                        <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                                        <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-story-section end -->


    <!-- member-details-section start -->
    <section class="member-details-section ptb-120">
        <div class="container">
            <div class="member-details-area ml-b-10">
                <div class="member-details-item-area d-flex flex-wrap mrb-10">
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-user"></i>
                            <span class="first">Gender</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Man</span>
                        </div>
                    </div>
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-book"></i>
                            <span class="first">Education</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Bachelor in Computer Science</span>
                        </div>
                    </div>
                </div>
                <div class="member-details-item-area d-flex flex-wrap mrb-10">
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-calendar-minus"></i>
                            <span class="first">Age</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">25 Years Old</span>
                        </div>
                    </div>
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-globe"></i>
                            <span class="first">Language</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">English , Spanish</span>
                        </div>
                    </div>
                </div>
                <div class="member-details-item-area d-flex flex-wrap mrb-10">
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-map-marker-alt"></i>
                            <span class="first">Location</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Usa</span>
                        </div>
                    </div>
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-ruler"></i>
                            <span class="first">Height</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">189 cm</span>
                        </div>
                    </div>
                </div>
                <div class="member-details-item-area d-flex flex-wrap mrb-10">
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-calendar-minus"></i>
                            <span class="first">Birth Date</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">24 May 1995</span>
                        </div>
                    </div>
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-glass-martini-alt"></i>
                            <span class="first">Drinking</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Yes</span>
                        </div>
                    </div>
                </div>
                <div class="member-details-item-area d-flex flex-wrap mrb-10">
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-user"></i>
                            <span class="first">Relationship</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Single</span>
                        </div>
                    </div>
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-eye"></i>
                            <span class="first">Eye Colour</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Black</span>
                        </div>
                    </div>
                </div>
                <div class="member-details-item-area d-flex flex-wrap mrb-10">
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-utensils"></i>
                            <span class="first">Diet</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">Non - Vegetarian</span>
                        </div>
                    </div>
                    <div class="member-details-single-item sec-bg d-flex flex-wrap">
                        <div class="member-facilities">
                            <i class="fas fa-bed"></i>
                            <span class="first">Kids</span>
                        </div>
                        <div class="member-facilities">
                            <span class="second">No</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- member-details-section end -->


    <!-- process-section start -->
    <section class="process-section ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">what`s i like</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue
                            Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="process-item-area">
                <div class="row justify-content-center ml-b-30">
                    <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                         data-wow-delay="0.3s">
                        <div class="process-item text-center">
                            <div class="icon-gradient">
                                <i class="flaticon-video"></i>
                            </div>
                            <h3 class="title">Action Movie</h3>
                            <p>Phasellus pulvinar diam vnec purus metus, vestibulum turpis ne trtique acmagna cubilia
                                euilortisest. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                         data-wow-delay="0.5s">
                        <div class="process-item text-center">
                            <div class="icon-gradient">
                                <i class="flaticon-suitcase"></i>
                            </div>
                            <h3 class="title">Travaling</h3>
                            <p>Phasellus pulvinar diam vnec purus metus, vestibulum turpis ne trtique acmagna cubilia
                                euilortisest. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                         data-wow-delay="0.8s">
                        <div class="process-item text-center">
                            <div class="icon-gradient">
                                <i class="flaticon-student"></i>
                            </div>
                            <h3 class="title">Reading Book</h3>
                            <p>Phasellus pulvinar diam vnec purus metus, vestibulum turpis ne trtique acmagna cubilia
                                euilortisest. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process-section end -->


    <!-- client-section-three start -->
    <section class="client-section-three ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">what say about me</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue
                            Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="client-item-area-three">
                        <div class="client-wrapper-three">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="client-item-three">
                                        <div class="client-thumb-three">
                                            <img src="../static/assets/images/client/client-1.png" alt="client">
                                        </div>
                                        <h3 class="title">Martin Kook</h3>
                                        <span class="sub-title">Actor</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna ali. Quis ipspendisse ultrices
                                            gmmodo </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="client-item-three">
                                        <div class="client-thumb-three">
                                            <img src="../static/assets/images/client/client-1.png" alt="client">
                                        </div>
                                        <h3 class="title">Martin Kook</h3>
                                        <span class="sub-title">Actor</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna ali. Quis ipspendisse ultrices
                                            gmmodo </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="client-item-three">
                                        <div class="client-thumb-three">
                                            <img src="../static/assets/images/client/client-1.png" alt="client">
                                        </div>
                                        <h3 class="title">Martin Kook</h3>
                                        <span class="sub-title">Actor</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna ali. Quis ipspendisse ultrices
                                            gmmodo </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client-section-three end -->


    <!-- gallery-section start -->
    <section class="gallery-section pd-t-120 bg-overlay-white-two bg_img"
             data-background={% static "assets/images/gallery/portfolio-bg.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">My Best Memories</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue
                            Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-0 pr-0">
                    <div class="gallery-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/portfolio-14.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/portfolio-15.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/portfolio-16.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/portfolio-17.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- gallery-section end -->


    <!-- team-section start -->
    <section class="team-section pd-t-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">more members</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue
                            Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.5s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-1.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-1.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title">Marina Kubora</h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>25 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.9s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-2.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-2.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title">Bartin Nikoriyas</h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>30 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="1.2s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-3.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-3.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title">monika chunityra</h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>32 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}
