{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.post_title }}
{% endblock %} %}
{% block custom_style %}
    <style>
        .smaller-padding-with-vertical {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .blog-details-tag-area .tag-list li {
            background: none;
        }

        .comment-item .comment-content {
            z-index: 1000;
        }

        .panel-info {
            display: grid;
        }

        .panel-heading {
            justify-self: center;
        }

        .comment-thumb {
            border-radius: 50%;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img smaller-padding-with-vertical"
             data-background={% static "assets/images/header/inner-3.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s"
                            data-wow-delay="0.5s">{{ post.post_title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i class="flaticon-house"></i>主页</a></li>
                    <li class="breadcrumb-item"><i class="bi-house-heart-fill" style="font-size: 1.2rem"></i><a
                            href="/zone?zone_id={{ post.zone_id.zone_id }}">{{ post.zone_id.zone_name }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- blog-section start -->
    <section class="blog-details-section ptb-120">
        <div class="container">
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-8 mrb-30">
                    <div class="blog-item mrb-60 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="blog-thumb">
                            <img src="{{ post.post_image.url }}" alt="blog">
                        </div>
                        <div class="blog-content blog-content-two">
                            <h3 class="title wow fade-in-up" data-wow-duration="1s"
                                data-wow-delay="0.5s">{{ post.post_title }}</h3>
                            <ul class="blog-content-list">
                                <li>
                                    <i class="fas fa-eye"></i><span>{{ post.post_view }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-heart"></i><span>{{ post.post_like }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i><span>{{ post.collection_set.count }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i><span>{{ post.review_set.count }}</span>
                                </li>
                            </ul>
                            <p class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Pretium et in
                                vehicula duis, vel adipiscing maecenas est, velit urna a. Lorem vivammagna sem sodales
                                mattis, libero lorem eligendi. Mauris wisi, phasellus etiam neque mattviverra mi eget
                                justo, molestiae nec accumsan enim aliquam volutpat a, a nec vitae nulla facilisi enim
                                malesuada. Enim egestas. Non sed, imperdiet vehicula neque convallis eratpedesed proin
                                vitae sed vitae quam maecenas. Aliquet pede in dapibus neque in lorem, ut mauris ipsum,
                                sem eu donec curabitur maecenas interdum, tempus sagittis orci id nec eleifend phasellus
                                et sapien. Nonummy duis malesuada, nascetur pellentesque purus, ut nibh ipsum
                                suspendisse integer scelerisque laoreet wisi sed fringilla curae ligula sit. Tincidunt
                                id donec adipiscing enim ut, cursus tortor maecenas risus in, est felis sit, vitae
                                vehicula sapien repellat posuere.</p>
                            <blockquote>
                                <p class="quote-content wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultricegrida.
                                    Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                            </blockquote>
                            <div class="blog-details-thumb-area">
                                <div class="row justify-content-center no-gutter ml-b-30">
                                    <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                                         data-wow-delay="0.5s">
                                        <div class="blog-details-thumb">
                                            <img src="{% static "assets/images/blog/blog-details-1.png" %}" alt="image">
                                        </div>
                                        <div class="blog-details-thumb-details">
                                            <p>Photo by Ruddra Khan / Thesoftking</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                                         data-wow-delay="0.7s">
                                        <div class="blog-details-thumb">
                                            <img src={% static "assets/images/blog/blog-details-2.png" %} alt="image">
                                        </div>
                                        <div class="blog-details-thumb-details">
                                            <p>Photo by Ratul Khan / Thesoftking</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Nceptos rutrum
                                erat, elementum bibendum nullam mi, odio malesuada blandit lectus sed ligula elementum,
                                elit convallis at non. Est suspendisse vel dolor consectetuer turpis. In nulla nulla ac
                                elit, purus wisi. Dui tortor ut, condimentum est mauris sed non aliquam, pellentesque
                                anim massa adipiscing, consectetuer maecenas suscipit sed ligula curabitur, nec lacinia
                                felis cubilia interdum eu. Magna cum. Venenatis sed lobortis urna, in amet quo sapien ut
                                nec, nunc mauris aenean at mattis vestibulum vel, sed nunc per lectus. Justo eros elit.
                                A pellentesque.</p>
                            <div class="blog-details-tag-area d-flex flex-wrap justify-content-between ml-b-30">
                                <ul class="tag-list mrb-30">
                                    <li>
                                        <button id="post_like" class="button-85" role="button"
                                                onclick="update_post_like()">{% if post.is_liked %}取消点赞{% else %}
                                            点赞{% endif %}</button>
                                    </li>
                                    <li>
                                        <button id="post_collection" class="button-85" role="button"
                                                onclick="update_collection_post()">{% if post.is_collected %}
                                            取消收藏{% else %}收藏{% endif %}</button>
                                    </li>
                                    <!-- HTML !-->

                                </ul>
                                <div class="social-share" data-initialized="true"
                                     style="background: none; box-shadow: none">
                                    <a href="#" class="social-share-icon icon-weibo"></a>
                                    <a href="#" class="social-share-icon icon-qq"></a>
                                    <a href="#" class="social-share-icon icon-qzone"></a>
                                    <a href="#" class="social-share-icon icon-wechat"></a>
                                </div>
                            </div>
                            <div id="prev-and-next-buttons"
                                 class="blog-details-btn-area d-flex flex-wrap justify-content-between">
                                {% if prev_post %}
                                    <div class="btn-left">
                                        <a href="/post-{{ prev_post.post_layout_mode }}?post_id={{ prev_post.post_id }}"
                                           class="btn-border" style="padding: 12px 50px">上一篇</a>
                                    </div>
                                {% endif %}
                                {% if next_post %}
                                    <div class="btn-right">
                                        <a href="/post-{{ next_post.post_layout_mode }}?post_id={{ next_post.post_id }}"
                                           class="btn-border">下一篇</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="comments-section" id="reviews_area"></div>
                    <div class="leave-review">
                        <h3 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Leave a
                            Comment</h3>
                        <form class="review-form" method="post" enctype="multipart/form-data" action="/review/publish/">
                            <div class="row">
                                <div class="col-sm-12 form-group wow fade-in-bottom" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="text" placeholder="your name ">
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-up" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="text" placeholder="Email address">
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-bottom" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="text" placeholder="web site ">
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-up" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <textarea placeholder="write a comment"></textarea>
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-up" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="submit" class="cmn-btn" value="post comment ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'zone_and_post_widget.html' %}
            </div>
        </div>
    </section>
    <!-- blog-section start -->
{% endblock %}
{% block custom_script %}
    <script>
		function update_post_like() {
			let post_like_btn = document.getElementById("post_like");
			if (post_like_btn.innerHTML.trim() === "点赞") {
				$.ajax({
					url: "/post/like/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "append",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "取消点赞";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "点赞失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							console.log(data);
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "点赞失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						console.log(data);
					}
				});
			} else {
				$.ajax({
					url: "/post/like/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "remove",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "点赞";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "取消点赞失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							console.log(data);
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "取消点赞失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						console.log(data);
					}
				});
			}
		}

		function update_collection_post() {
			let post_like_btn = document.getElementById("post_collection");
			if (post_like_btn.innerHTML.trim() === "收藏") {
				$.ajax({
					url: "/post/collect/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "append",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "取消收藏";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "收藏失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							console.log(data);
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "收藏失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						console.log(data);
					}
				});
			} else {
				$.ajax({
					url: "/post/collect/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "remove",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "收藏";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "取消收藏失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							{#console.log(data);#}
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "取消收藏失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						{#console.log(data);#}
					}
				});
			}
		}

		{#layout prev and next buttons#}
		$(document).ready(function () {
			let area = document.getElementById("prev-and-next-buttons");
			if (area.children.length === 1) {
				area.classList.remove("justify-content-between");
				area.classList.add("justify-content-center");
			} else {
				area.classList.remove("justify-content-center");
				area.classList.add("justify-content-between");
			}
		})


		{#get all reviews for post#}
		$(document).ready(function () {
			let reviews = document.getElementById("reviews_area");
			reviews.style.display = "grid";
			$.ajax({
				url: "/review/get/all/",
				type: "POST",
				enctype: 'application/json',
				data: {
					"post_id": {{ post.post_id }},
					"csrfmiddlewaretoken": "{{ csrf_token }}",
				},
				success: function (data) {
					if (data.code === 200) {
						let reviews_summary = document.createElement("h3");
						reviews_summary.classList.add("title");
						reviews_summary.innerText = data.all_reviews_count + "条评论";
						if (data.data.length === 0) {
							reviews_summary.style.justifySelf = "center";
							reviews_summary.innerText = "暂无评论";
						}
						reviews.appendChild(reviews_summary);
						let reviews_wrapper = document.createElement("ul");
						reviews_wrapper.id = "reviews_wrapper";
						reviews_wrapper.classList.add("comment-wrapper");
						let load_more_btn = document.createElement("button");
						load_more_btn.style.display = "none";
						load_more_btn.classList.add("cmn-btn");
						load_more_btn.innerText = "加载更多";
						if (data.all_reviews_count > 10) {
							load_more_btn.style.display = "block";
							load_more_btn.addEventListener("click", get_more_reviews);
						}
						for (const review_i in data.data) {
							let review_item = document.createElement("li");
							let time_period = formatTimePeriod(Date.now() - Date.parse(data.data[review_i].review_time));
							{#console.log(time_period);#}
							if (data.data[review_i].children_count > 0) {
								review_item.innerHTML = `
                                <div class="comment-item">
                                    <div class="comment-thumb">
                                        <a href="/user/?user_id=${data.data[review_i].author.user_id}"><img src="${data.data[review_i].author.user_headicon}"
                                                         alt="blog"></a>
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                            data-wow-delay="0.5s"><a href="/user/?user_id=${data.data[review_i].author.user_id}">${data.data[review_i].author.username}</a></h5>
                                        <span class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">${time_period}</span>
                                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">${data.data[review_i].content}</p>
                                        <a href="#" class="reply-button">回复</a>
                                    </div>
								    <div class="panel-group" style="width: 100%" id="accordion-${data.data[review_i].review_id}">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="reply-list-button-${data.data[review_i].review_id}" style="color: white" onclick="get_review_children(${data.data[review_i].review_id})" data-toggle="collapse" data-parent="#accordion-${data.data[review_i].review_id}"
                                                       href="#reply-${data.data[review_i].review_id}" class="cmn-btn">
                                                        展开回复列表
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul id="reply-${data.data[review_i].review_id}" class="reply-wrapper panel-collapse collapse">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
								`;
							} else {
								review_item.innerHTML = `
                                <div class="comment-item">
                                    <div class="comment-thumb">
                                        <a href="/user/?user_id=${data.data[review_i].author.user_id}"><img src="${data.data[review_i].author.user_headicon}"
                                                         alt="blog"></a>
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                            data-wow-delay="0.5s"><a href="/user/?user_id=${data.data[review_i].author.user_id}">${data.data[review_i].author.username}</a></h5>
                                        <span class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">${time_period}</span>
                                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">${data.data[review_i].content}</p>
                                        <a href="#" class="reply-button">回复</a>
                                    </div>
                                </div>
                                `;
							}
							reviews_wrapper.appendChild(review_item);
						}
						reviews.appendChild(reviews_wrapper);
						try {
							reviews.appendChild(load_more_btn);
						} catch (e) {
							console.log(e);
						}
					} else {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "评论加载失败，" + data.msg;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						{#console.log(data);#}
					}
				},
				error: function (data) {
					let error_box = document.getElementById("error");
					let msg_node = document.createElement("li");
					msg_node.innerText = "评论加载失败，" + data.msg;
					error_box.childNodes[1].appendChild(msg_node);
					$('#error').show();
					auto_hide_error();
					setTimeout(function () {
						error_box.childNodes[1].removeChild(msg_node);
						check_error_and_success_list();
					}, 5000);
					{#console.log(data);#}
				}
			})
		})

		{#get and layout review children#}
		let counter = 0;

		function get_review_children(review_id) {
			$.ajax({
				url: "/review/get/children/",
				type: "POST",
				enctype: 'application/json',
				data: {
					"review_id": review_id,
					"csrfmiddlewaretoken": "{{ csrf_token }}",
				},
				success: function (data) {
					if (data.code === 200) {
						let review_children = document.getElementById("reply-" + review_id);
						if (data.data.length <= 0) {
							document.getElementById("accordion-" + review_id).parentNode.removeChild(document.getElementById("accordion-" + review_id));
						} else {
							if (counter % 2 === 0) {
								for (const child_i in data.data) {
									let child = document.createElement("li");
									let time_period = formatTimePeriod(Date.now() - Date.parse(data.data[child_i].review_time));
									child.innerHTML = `
                                        <div class="comment-item">
                                            <div class="comment-thumb">
                                                <a href="/user/?user_id=${data.data[child_i].author.user_id}"><img src="${data.data[child_i].author.user_headicon}"
                                                         alt="blog"></a>
                                            </div>
                                            <div class="comment-content">
                                                <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                                    data-wow-delay="0.5s"><a href="/user/?user_id=${data.data[child_i].author.user_id}">${data.data[child_i].author.username}</a></h5>
                                                <span class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">${time_period}</span>
                                                <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">${data.data[child_i].content}</p>
                                                <a href="#" class="reply-button">回复</a>
                                            </div>
                                        </div>
							`;
									review_children.appendChild(child);
								}
								document.getElementById(`reply-list-button-${review_id}`).removeEventListener('click', get_review_children);
								document.getElementById(`reply-list-button-${review_id}`).innerText =
									document.getElementById(`reply-list-button-${review_id}`).innerText.replaceAll("展开", "收起");
							} else {
								document.getElementById(`reply-list-button-${review_id}`).innerText =
									document.getElementById(`reply-list-button-${review_id}`).innerText.replace("收起", "展开");
								review_children.innerHTML = "";
							}
							counter++;
						}
					} else {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "回复加载失败，" + data.msg;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						{#console.log(data);#}
					}
				},
				error: function (data) {
					let error_box = document.getElementById("error");
					let msg_node = document.createElement("li");
					msg_node.innerText = "回复加载失败，" + data.msg;
					error_box.childNodes[1].appendChild(msg_node);
					$('#error').show();
					auto_hide_error();
					setTimeout(function () {
						error_box.childNodes[1].removeChild(msg_node);
						check_error_and_success_list();
					}, 5000);
					{#console.log(data);#}
					{#console.log(data);#}
				}
			})
		}


		let page_num = 1;

		function get_more_reviews() {
			let reviews = document.getElementById("reviews_area");
			$.ajax({
				url: "/review/get/more/",
				type: "POST",
				enctype: 'application/json',
				data: {
					"post_id": {{ post.post_id }},
					"page": page_num++,
					"csrfmiddlewaretoken": "{{ csrf_token }}",
				},
				success: function (data) {
					if (data.code === 200) {
						let reviews_wrapper = document.getElementById("reviews_wrapper");
						let load_more_btn = document.createElement("button");
						load_more_btn.classList.add("cmn-btn");
						load_more_btn.innerText = "加载更多";
						load_more_btn.style.display = "none";
						for (const review_i in data.data) {
							let review_item = document.createElement("li");
							let time_period = formatTimePeriod(Date.now() - Date.parse(data.data[review_i].review_time));
							{#console.log(time_period);#}
							if (data.data[review_i].children_count > 0) {
								review_item.innerHTML = `
                                <div class="comment-item">
                                    <div class="comment-thumb">
                                        <a href="/user/?user_id=${data.data[review_i].author.user_id}"><img src="${data.data[review_i].author.user_headicon}"
                                                         alt="blog"></a>
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                            data-wow-delay="0.5s"><a href="/user/?user_id=${data.data[review_i].author.user_id}">${data.data[review_i].author.username}</a></h5>
                                        <span class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">${time_period}</span>
                                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">${data.data[review_i].content}</p>
                                        <a href="#" class="reply-button">回复</a>
                                    </div>
								    <div class="panel-group" style="width: 100%" id="accordion-${data.data[review_i].review_id}">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a id="reply-list-button-${data.data[review_i].review_id}" style="color: white" onclick="get_review_children(${data.data[review_i].review_id})" data-toggle="collapse" data-parent="#accordion-${data.data[review_i].review_id}"
                                                       href="#reply-${data.data[review_i].review_id}" class="cmn-btn">
                                                        展开回复列表
                                                    </a>
                                                </h4>
                                            </div>
                                            <ul id="reply-${data.data[review_i].review_id}" class="reply-wrapper panel-collapse collapse">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
								`;
							} else {
								review_item.innerHTML = `
                                <div class="comment-item">
                                    <div class="comment-thumb">
                                        <a href="/user/?user_id=${data.data[review_i].author.user_id}"><img src="${data.data[review_i].author.user_headicon}"
                                                         alt="blog"></a>
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                            data-wow-delay="0.5s"><a href="/user/?user_id=${data.data[review_i].author.user_id}">${data.data[review_i].author.username}</a></h5>
                                        <span class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">${time_period}</span>
                                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">${data.data[review_i].content}</p>
                                        <a href="#" class="reply-button">回复</a>
                                    </div>
                                </div>
                                `;
							}
							reviews_wrapper.appendChild(review_item);
						}
						try {
							if (data.data.length < 10) {
								reviews.lastChild.remove();
							} else if (data.all_reviews_count > page_num * 10) {
							} else {
								reviews.lastChild.remove();
							}
						} catch (e) {
							console.log(e);
						}
					} else {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "评论加载失败，" + data.msg;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						{#console.log(data);#}
					}
				},
				error: function (data) {
					let error_box = document.getElementById("error");
					let msg_node = document.createElement("li");
					msg_node.innerText = "评论加载失败，" + data.msg;
					error_box.childNodes[1].appendChild(msg_node);
					$('#error').show();
					auto_hide_error();
					setTimeout(function () {
						error_box.childNodes[1].removeChild(msg_node);
						check_error_and_success_list();
					}, 5000);
					{#console.log(data);#}
				}
			})
		}

		function formatTimePeriod(timePeriod) {
			const seconds = Math.floor(timePeriod / 1000);
			const minutes = Math.floor(seconds / 60);
			const hours = Math.floor(minutes / 60);
			const days = Math.floor(hours / 24);
			const weeks = Math.floor(days / 7);
			const months = Math.floor(days / 30);
			const years = Math.floor(days / 365);

			if (years > 0) {
				return `${years}
								年前`;
			} else if (months > 0) {
				return `${months}
								个月前`;
			} else if (weeks > 0) {
				return `${weeks}
								周前`;
			} else if (days > 0) {
				return `${days}
								天前`;
			} else if (hours > 0) {
				return `${hours}
								小时前`;
			} else if (minutes > 0) {
				return `${minutes}
								分钟前`;
			} else if (seconds > 0) {
				return `${seconds}
								秒前`;
			} else {
				console.error('未来者时间，请站长注意！timePeriod is invalid!');
				return '未来者时间，请站长注意！';
			}
		}
    </script>
{% endblock %}