{% extends "base.html" %}
{% load static %}
{% block title %}
    发布帖子
{% endblock %}
{% block custom_style %}
    <style>
        .whole_frame {
            width: 80%;
            height: 50rem;
            margin: 1rem auto 3rem auto;
            position: relative;
        }

        form {
            height: 50%;
        }

        .editor-container {
            z-index: 1000;
            height: 50%
        }

        .editor {
            min-height: 60%;
            max-height: 90%;
            overflow: auto;
        }

        form {
            padding-left: 3rem;
        }

        .nice-select .option, .current {
            text-align: center;
        }

        form input {
            background-color: #e9f2ff;
        }

        .nice_color {
            background-color: #e9f2ff;
        }

        .nice-select {
            background-color: #e9f2ff;
            width: 30%;
            padding: 0;
            text-align: center;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="shadow whole_frame">
        <form method="post" enctype="multipart/form-data" style="display: grid">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">标题:</label>
                <input type="text" class="form-control nice_color" id="title" name="post_title"
                       placeholder="请输入标题">
            </div>
            <div class="form-group">
                <label for="zone">分类:</label>
                <select class="form-control" id="zone" name="zone_id">
                    <option value="0" selected>请选择分类</option>
                    {% for zone in request.session.zones.data %}
                        <option value="{{ zone.zone_id }}">{{ zone.zone_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="layout_mode">页面显示风格:</label>
                <select class="form-control" id="layout_mode" name="post_layout_mode">
                    <option value="0" selected>请选择风格</option>
                    <option value="normal">默认风格</option>
                    <option value="immersion">沉浸风格</option>
                </select>
            </div>
            <div class="form-btn-group">
                <button type="submit" class="btn btn-primary">发布</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">取消</button>
            </div>
        </form>
        <div id="editor-container" class="editor-container">
            <div id="editor-tool-bar"></div>
            <div id="editor" class="editor clearfix"></div>
        </div>
    </div>
{% endblock %}
{% block custom_script %}
    <script>
		const {createEditor, createToolbar} = window.wangEditor

		const editorConfig = {
			placeholder: '请在这里输入正文...',
			readOnly: false,
			scroll: true,
		}

		const editor = createEditor({
			selector: '#editor',
			html: '<p><br></p>',
			config: editorConfig,
			mode: 'default',
		})

		const toolbarConfig = {}

		toolbarConfig.excludeKeys = [
			"underline",
			'codeBlock',
			'insertTable',
			"insertVideo",
			"through",
			"clearStyle",
		]

		const toolbar = createToolbar({
			editor,
			selector: '#editor-tool-bar',
			config: toolbarConfig,
			mode: 'simple',
		})

		$(document).ready(function () {
			editor.getConfig().hoverbarKeys.text.menuKeys = [
				"bgColor", "color", "bold",
				"|", "bulletedList", "insertLink"
			];
			editor.getConfig().MENU_CONF['uploadImage'] = {
				server: '/api/post/upload/image/',
				// form-data fieldName ，默认值 'wangeditor-uploaded-image'
				fieldName: 'post-upload-image',
				// 单个文件的最大体积限制，默认为 2M
				maxFileSize: 10 * 1024 * 1024, // 10M
				// 最多可上传几个文件，默认为 100
				maxNumberOfFiles: 10,
				// 选择文件时的类型限制，默认为 ['image/*'] 。如不想限制，则设置为 []
				allowedFileTypes: ['image/*'],
				// 自定义上传参数，例如传递验证的 token 等。参数会被添加到 formData 中，一起上传到服务端。
				meta: {
					"csrfmiddlewaretoken": "{{ csrf_token }}",
				}
				,
				// 将 meta 拼接到 url 参数中，默认 false
				metaWithUrl: false,
				// 自定义增加 http  header
				headers: {
					Accept: 'text/x-json',
				}
				,
				// 跨域是否传递 cookie ，默认为 false
				withCredentials: true,
				// 超时时间，默认为 10 秒
				timeout:
					5 * 1000, // 5 秒
				// 上传之前触发
				{#onBeforeUpload(file: File) { // TS 语法#}
				onBeforeUpload(file) {    // JS 语法
					// file 选中的文件，格式如 { key: file }
					return file

					// 可以 return
					// 1. return file 或者 new 一个 file ，接下来将上传
					// 2. return false ，不上传这个 file
				},

				// 上传进度的回调函数
				{#onProgress(progress: number) {  // TS 语法#}
				onProgress(progress) {       // JS 语法
					// progress 是 0-100 的数字
					console.log('progress', progress)
				},

				// 单个文件上传成功之后
				{#onSuccess(file: File, res: any) {  // TS 语法#}
				onSuccess(file, res) {          // JS 语法
					console.log(`${file.name} 上传成功`, res)
				},

				// 单个文件上传失败
				{#onFailed(file: File, res: any) {   // TS 语法#}
				onFailed(file, res) {           // JS 语法
					console.log(`${file.name} 上传失败`, res)
				},

				// 上传错误，或者触发 timeout 超时
				{#onError(file: File, err: any, res: any) {  // TS 语法#}
				onError(file, err, res) {               // JS 语法
					console.log(`${file.name} 上传出错`, err, res)
				},
			}
		})
    </script>
{% endblock %}