{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.post_title }}
{% endblock %} %}
{% block custom_style %}
    <style>
        .smaller-padding-with-vertical {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        .blog-details-tag-area .tag-list li {
            background: none;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img smaller-padding-with-vertical"
             data-background={% static "assets/images/header/inner-3.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s"
                            data-wow-delay="0.5s">{{ post.post_title }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index"><i class="flaticon-house"></i>主页</a></li>
                    <li class="breadcrumb-item"><i class="bi-house-heart-fill" style="font-size: 1.2rem"></i><a
                            href="/zone?zone_id={{ post.zone_id.zone_id }}">{{ post.zone_id.zone_name }}</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- blog-section start -->
    <section class="blog-details-section ptb-120">
        <div class="container">
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-8 mrb-30">
                    <div class="blog-item mrb-60 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="blog-thumb">
                            <img src="{{ post.post_image.url }}" alt="blog">
                        </div>
                        <div class="blog-content blog-content-two">
                            <h3 class="title wow fade-in-up" data-wow-duration="1s"
                                data-wow-delay="0.5s">{{ post.post_title }}</h3>
                            <ul class="blog-content-list">
                                <li>
                                    <i class="fas fa-eye"></i><span>{{ post.post_view }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-heart"></i><span>{{ post.post_like }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-star"></i><span>{{ post.collection_set.count }}</span>
                                </li>
                                <li>
                                    <i class="fas fa-comment"></i><span>{{ post.review_set.count }}</span>
                                </li>
                            </ul>
                            <p class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Pretium et in
                                vehicula duis, vel adipiscing maecenas est, velit urna a. Lorem vivammagna sem sodales
                                mattis, libero lorem eligendi. Mauris wisi, phasellus etiam neque mattviverra mi eget
                                justo, molestiae nec accumsan enim aliquam volutpat a, a nec vitae nulla facilisi enim
                                malesuada. Enim egestas. Non sed, imperdiet vehicula neque convallis eratpedesed proin
                                vitae sed vitae quam maecenas. Aliquet pede in dapibus neque in lorem, ut mauris ipsum,
                                sem eu donec curabitur maecenas interdum, tempus sagittis orci id nec eleifend phasellus
                                et sapien. Nonummy duis malesuada, nascetur pellentesque purus, ut nibh ipsum
                                suspendisse integer scelerisque laoreet wisi sed fringilla curae ligula sit. Tincidunt
                                id donec adipiscing enim ut, cursus tortor maecenas risus in, est felis sit, vitae
                                vehicula sapien repellat posuere.</p>
                            <blockquote>
                                <p class="quote-content wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultricegrida.
                                    Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                            </blockquote>
                            <div class="blog-details-thumb-area">
                                <div class="row justify-content-center no-gutter ml-b-30">
                                    <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                                         data-wow-delay="0.5s">
                                        <div class="blog-details-thumb">
                                            <img src="{% static "assets/images/blog/blog-details-1.png" %}" alt="image">
                                        </div>
                                        <div class="blog-details-thumb-details">
                                            <p>Photo by Ruddra Khan / Thesoftking</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                                         data-wow-delay="0.7s">
                                        <div class="blog-details-thumb">
                                            <img src={% static "assets/images/blog/blog-details-2.png" %} alt="image">
                                        </div>
                                        <div class="blog-details-thumb-details">
                                            <p>Photo by Ratul Khan / Thesoftking</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Nceptos rutrum
                                erat, elementum bibendum nullam mi, odio malesuada blandit lectus sed ligula elementum,
                                elit convallis at non. Est suspendisse vel dolor consectetuer turpis. In nulla nulla ac
                                elit, purus wisi. Dui tortor ut, condimentum est mauris sed non aliquam, pellentesque
                                anim massa adipiscing, consectetuer maecenas suscipit sed ligula curabitur, nec lacinia
                                felis cubilia interdum eu. Magna cum. Venenatis sed lobortis urna, in amet quo sapien ut
                                nec, nunc mauris aenean at mattis vestibulum vel, sed nunc per lectus. Justo eros elit.
                                A pellentesque.</p>
                            <div class="blog-details-tag-area d-flex flex-wrap justify-content-between ml-b-30">
                                <ul class="tag-list mrb-30">
                                    <li>
                                        <button id="post_like" class="button-85" role="button"
                                                onclick="update_post_like()">{% if post.is_liked %}取消点赞{% else %}
                                            点赞{% endif %}</button>
                                    </li>
                                    <li>
                                        <button id="post_collection" class="button-85" role="button"
                                                onclick="update_collection_post()">{% if post.is_collected %}
                                            取消收藏{% else %}收藏{% endif %}</button>
                                    </li>
                                    <!-- HTML !-->

                                </ul>
                                <div class="social-share" data-initialized="true"
                                     style="background: none; box-shadow: none">
                                    <a href="#" class="social-share-icon icon-weibo"></a>
                                    <a href="#" class="social-share-icon icon-qq"></a>
                                    <a href="#" class="social-share-icon icon-qzone"></a>
                                </div>
                            </div>
                            <div class="blog-details-btn-area d-flex flex-wrap justify-content-between">
                                <div class="btn-left">
                                    <a href="#0" class="btn-border">previous</a>
                                </div>
                                <div class="btn-right">
                                    <a href="#0" class="btn-border">next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-section">
                        <h3 class="title">03 comment</h3>
                        <ul class="comment-wrapper">
                            <li>
                                <div class="comment-item">
                                    <div class="comment-thumb">
                                        <a href="#"><img src={% static "assets/images/blog/comment-1.png" %} alt="blog"></a>
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                            data-wow-delay="0.5s"><a href="#">Will Marvin</a></h5>
                                        <span class="wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">1 Day ago</span>
                                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                                            magnis nisl lectus velit parturient vitae, suspendisse fusce in
                                            variultusetvnea. Hac metus dui facilisis.</p>
                                        <a href="#" class="reply-button">Reply</a>
                                    </div>
                                </div>
                                <ul class="reply-wrapper">
                                    <li>
                                        <div class="comment-item">
                                            <div class="comment-thumb">
                                                <a href="#"><img
                                                        src={% static "assets/images/blog/comment-2.png" %} alt="blog"></a>
                                            </div>
                                            <div class="comment-content">
                                                <h5 class="sub-title wow fade-in-up" data-wow-duration="1s"
                                                    data-wow-delay="0.5s"><a href="#">Mae Hayes</a></h5>
                                                <span class="wow fade-in-up" data-wow-duration="1s"
                                                      data-wow-delay="0.5s">2 day ago</span>
                                                <p class="wow fade-in-bottom" data-wow-duration="1s"
                                                   data-wow-delay="0.5s">Volutpat ut, est sed et tincidunt neque, ipsum
                                                    consectetulierosV diam nec. Ridiculus justo volutpat dictum eget
                                                    odio in. Ridiculus gravida arcu this is news post.</p>
                                                <a href="#" class="reply-button">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="leave-comment">
                        <h3 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Leave a
                            Comment</h3>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-sm-12 form-group wow fade-in-bottom" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="text" placeholder="your name ">
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-up" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="text" placeholder="Email address">
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-bottom" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="text" placeholder="web site ">
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-up" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <textarea placeholder="write a comment"></textarea>
                                </div>
                                <div class="col-sm-12 form-group wow fade-in-up" data-wow-duration="1s"
                                     data-wow-delay="0.5s">
                                    <input type="submit" class="cmn-btn" value="post comment ">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% include 'zone_and_post_widget.html' %}
            </div>
        </div>
    </section>
    <!-- blog-section start -->
{% endblock %}
{% block custom_script %}
    <script>
		function update_post_like() {
			let post_like_btn = document.getElementById("post_like");
			if (post_like_btn.innerHTML.trim() === "点赞") {
				$.ajax({
					url: "/post/like/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "append",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "取消点赞";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "点赞失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							console.log(data);
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "点赞失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						console.log(data);
					}
				});
			} else {
				$.ajax({
					url: "/post/like/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "remove",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "点赞";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "取消点赞失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							console.log(data);
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "取消点赞失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						console.log(data);
					}
				});
			}
		}

		function update_collection_post() {
			let post_like_btn = document.getElementById("post_collection");
			if (post_like_btn.innerHTML.trim() === "收藏") {
				$.ajax({
					url: "/post/collect/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "append",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "取消收藏";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "收藏失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							console.log(data);
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "收藏失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						console.log(data);
					}
				});
			} else {
				$.ajax({
					url: "/post/collect/",
					type: "POST",
					data: {
						"post_id": {{ post.post_id }},
						"method": "remove",
						"csrfmiddlewaretoken": "{{ csrf_token }}",
					},
					success: function (data) {
						if (data === '200') {
							post_like_btn.innerHTML = "收藏";
						} else {
							let error_box = document.getElementById("error");
							let msg_node = document.createElement("li");
							msg_node.innerText = "取消收藏失败，" + data;
							error_box.childNodes[1].appendChild(msg_node);
							$('#error').show();
							auto_hide_error();
							setTimeout(function () {
								error_box.childNodes[1].removeChild(msg_node);
								check_error_and_success_list();
							}, 5000);
							{#console.log(data);#}
						}
					},
					error: function (data) {
						let error_box = document.getElementById("error");
						let msg_node = document.createElement("li");
						msg_node.innerText = "取消收藏失败，" + data;
						error_box.childNodes[1].appendChild(msg_node);
						$('#error').show();
						auto_hide_error();
						setTimeout(function () {
							error_box.childNodes[1].removeChild(msg_node);
							check_error_and_success_list();
						}, 5000);
						{#console.log(data);#}
					}
				});
			}
		}
    </script>
{% endblock %}