{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img" data-background={% static "assets/images/header/inner-2.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">pricing plan</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- pricing-section start -->
    <section class="pricing-section ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">Our Membership Pack</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Free Pack</h3>
                        </div>
                        <div class="pricing-body">
                            <h3 class="amount">$00</h3>
                            <ul class="pricing-list">
                                <li>Lifetime membership</li>
                                <li>Profile security </li>
                                <li>free notification</li>
                            </ul>
                            <a href="#0" class="btn-border">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Golden Pack</h3>
                        </div>
                        <div class="pricing-body">
                            <h3 class="amount">$280</h3>
                            <ul class="pricing-list">
                                <li>Lifetime membership</li>
                                <li>Profile security </li>
                                <li>free notification</li>
                            </ul>
                            <a href="#0" class="btn-border">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Diamond Pack</h3>
                        </div>
                        <div class="pricing-body">
                            <h3 class="amount">$459</h3>
                            <ul class="pricing-list">
                                <li>Lifetime membership</li>
                                <li>Profile security </li>
                                <li>free notification</li>
                            </ul>
                            <a href="#0" class="btn-border">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->



    <!-- pricing-section start -->
    <section class="pricing-section pricing-section-two sec-bg pd-t-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">Buy Your Event Ticket</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Silver</h3>
                        </div>
                        <div class="pricing-body">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i>Lifetime membership</li>
                                <li><i class="fas fa-check"></i>Profile security </li>
                                <li><i class="fas fa-check"></i>free notification</li>
                                <li><i class="fas fa-check"></i>email services</li>
                            </ul>
                            <h3 class="amount">$280</h3>
                            <a href="#0" class="cmn-btn">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.8s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Golden</h3>
                        </div>
                        <div class="pricing-body">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i>Lifetime membership</li>
                                <li><i class="fas fa-check"></i>Profile security </li>
                                <li><i class="fas fa-check"></i>free notification</li>
                                <li><i class="fas fa-check"></i>email services</li>
                            </ul>
                            <h3 class="amount">$280</h3>
                            <a href="#0" class="cmn-btn">buy now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="title">Diamond</h3>
                        </div>
                        <div class="pricing-body">
                            <ul class="pricing-list">
                                <li><i class="fas fa-check"></i>Lifetime membership</li>
                                <li><i class="fas fa-check"></i>Profile security </li>
                                <li><i class="fas fa-check"></i>free notification</li>
                                <li><i class="fas fa-check"></i>email services</li>
                            </ul>
                            <h3 class="amount">$280</h3>
                            <a href="#0" class="cmn-btn">buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- pricing-section end -->


    <!-- package-section start -->
    <section class="package-section sec-bg pd-t-120">
        <div class="container">
            <div class="row ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="package-left-content">
                        <h2 class="title">Our Popular Packages</h2>
                        <p>Dusto lacus in odio dolor feugiat gravidaegtas tellus elit lorem amet nostrud, nulla et unulla velit. Urna lacinia. Magna eget, vehicula sed a vestibulum gravida sit, dis lectus egestas fusce consequuntur ullamcorper</p>
                        <a href="#0" class="cmn-btn">check more pack</a>
                    </div>
                </div>
                <div class="col-lg-8 mrb-30">
                    <div class="package-right-area">
                        <div class="row ml-b-30">
                            <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.8s">
                                <div class="package-item">
                                    <div class="package-thumb text-center">
                                        <img src="../static/assets/images/price/package-1.png" alt="package">
                                    </div>
                                    <div class="package-details">
                                        <h3 class="title">Golden pack</h3>
                                        <ul class="package-list">
                                            <li>Lifetime membership <span>yes</span> </li>
                                            <li>Profile security <span>100%</span></li>
                                            <li>free notification  <span>Yes</span></li>
                                        </ul>
                                        <div class="package-btn text-center">
                                            <a href="#0" class="btn-border">buy now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="package-item">
                                    <div class="package-thumb text-center">
                                        <img src="../static/assets/images/price/package-2.png" alt="package">
                                    </div>
                                    <div class="package-details">
                                        <h3 class="title">Diamond Pack</h3>
                                        <ul class="package-list">
                                            <li>Lifetime membership <span>yes</span> </li>
                                            <li>Profile security <span>100%</span></li>
                                            <li>free notification  <span>Yes</span></li>
                                        </ul>
                                        <div class="package-btn text-center">
                                            <a href="#0" class="btn-border">buy now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- package-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120 sec-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}
