{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img" data-background={% static "assets/images/header/inner-5.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Privacy</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Privacy</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- privacy-top-section start -->
    <section class="privacy-top-section pd-t-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="privacy-top-area">
                        <div class="row justify-content-center mlb-30">
                            <div class="col-lg-7 col-md-6 mrb-30">
                                <div class="privacy-left-content">
                                    <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Privacy & Policy</h2>
                                    <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Metus fringilla odio, leo commodo augue. A svenenatis amet massa fringilla, euismod elit tellus amet. Comdo molestie dolor amet imperdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor</p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-6 mrb-30 wow fade-in-right" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="privacy-right-thumb">
                                    <img src="../static/assets/images/privacy.png" alt="privacy">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- privacy-top-section end -->


    <!-- privacy-section start -->
    <section class="privacy-section pd-t-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="privacy-content-area">
                        <div class="privacy-single-content-area">
                            <h3 class="title">Overview</h3>
                            <p>Nullam turpis dolorem, vivamus placerat in donec est, nonummy tristique massa a, dui felis in. Nulla lorem aenean montes varius massula sed, ut at ante, quis velit, at amet amet placerat. Vestibulum in porttitor ipsum eros vel in, imperdiet amet aliquam et purus dictum. In nunc nulla orci. A massa curabitur, etiam iure vestibulum, blandit ullamcorper, justo at aenean pulvinar. Felis aliquam hac duis et feugiat eu. Duis feugiat volutpat bibendum, eget a nisl est eros, nibh metus placerat faucibus penatibus, natoque diam.Nullam turpis dolorem, vivamus placerat in donec est, nommy tristique massa a, dui felis in. Nulla lorem aenean montes varius ultrices massa</p>
                        </div>
                        <div class="privacy-single-content-area">
                            <h3 class="title">Consent and Information Collection and Use</h3>
                            <p>Rictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purus, magna debitis, placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amet imperdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. Porttitor praesent facilisis aliquet, conubia dolor rerum odio, vitae placerat metus vestibulum magna, et wisi platea in lectus ultricies purus.</p>
                            <ul class="privacy-content-list">
                                <li>There are many variations of passages of Lorem available, but the majority</li>
                                <li>Finibus onorum et alorum"  by icero classical lite rature, discovered</li>
                                <li>Various versions have evolved over the years so mes by accident, sometimes on purpose </li>
                                <li>Finibus onorum et alorum"  by icero classical lite rature, discovered</li>
                            </ul>
                            <p>Eictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purus, magna debitis, placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amet imperdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. Porttitor praesent facilisis aliquet, conubia dolor rerum odio, vitae placerat metus vestibulum magna, et wisi platea in lectus ultricies purus.</p>
                        </div>
                        <div class="privacy-single-content-area">
                            <h3 class="title">Cookies and Log Files</h3>
                            <p>Dictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendissjusto, eget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purus, magna debitis, placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amet imperdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. Porttitor praesent facilisis aliquet, conubia dolor rerum odio, vitae placerat metus vestibulum magna, et wisi platea in lectus ultricies purus.</p>
                        </div>
                        <div class="privacy-single-content-area">
                            <h3 class="title">Security and Retention</h3>
                            <p>Aictumst molestie dui nulla bibendum tellus. Purus tincidunt amet pellentesque dis aliquet, urna dictum congue penatibus suspendisjusget adipiscing, eros in donec ligula cursus integer. Accumsan egestas turpis purus, magna debitis, placerat vestibulum commodo nascetur odio at, tortor dui posuere ornare donec mauris, phasellus ipsum.commodo augue. A sodales venenatis, amet massa fringilla, euismod elit tellus amet. Commodo molestie dolor amet imperdiet feugiat. Enim lacus eu duis est. Risus gravida eget, consequat tortor, felis elit dolor mauris purus pellentesque augue, leo nisl dis vehicula, vehicula magna. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- privacy-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}
