{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img" data-background={% static "assets/images/header/inner-1.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">sign in now</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sign In</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- registration-section start -->
    <section class="registration-section pd-t-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="registration-area">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="registration-thumb">
                                    <img src="../static/assets/images/sign.png" alt="sign">
                                    <div class="registration-thumb-overlay">
                                        <a class="popup-youtube mfp-iframe" href="https://www.youtube.com/watch?v=0O2aH4XLbto">
                                            <i class="flaticon-video-camera"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="registration-right-content">
                                    <div class="registration-header">
                                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">sign in</h2>
                                    </div>
                                    <ul class="sign-up-option justify-content-center wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                                        <li>
                                            <a href="#0" class="google"><img src="../static/assets/images/google.png" alt="google"> google</a>
                                        </li>
                                        <li>
                                            <a href="#0" class="facebook"><i class="fab fa-facebook-f"></i> Facebook</a>
                                        </li>
                                    </ul>
                                    <div class="registration-form-area">
                                        <form class="registration-form">
                                            <div class="row">
                                                <div class="col-lg-12 form-group wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                                                    <div class="register-icon">
                                                        <i class="flaticon-user"></i>
                                                    </div>
                                                    <input type="text" name="name" placeholder="user name or email">
                                                </div>
                                                <div class="col-lg-12 form-group wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.7s">
                                                    <div class="register-icon">
                                                        <i class="flaticon-shield-with-lock"></i>
                                                    </div>
                                                    <input type="password" id="myInputTwo" placeholder="*************">
                                                    <a href="#0" id="show-pass-two" class="show-pass"><i class="fas fa-eye"></i></a>
                                                </div>
                                                <div class="col-lg-12 form-group text-left d-flex flex-wrap justify-content-between">
                                                    <span class="control wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">forget password?</span>
                                                    <a href="signup.html" class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s"> Register</a>
                                                </div>
                                                <div class="col-lg-12 form-group wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                                                    <input type="submit" class="cmn-btn" value="sign in">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- registration-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}
