{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img" data-background={% static "assets/images/header/inner-2.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Sweet love stories</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Love Stories</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- story-section start -->
    <section class="story-section-two ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 ml-b-30">
                    <div class="story-item-area">
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-7.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Egestas Mauris Lacinia</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.7s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-8.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Consequat Volutpat</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.9s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-9.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Rhoncus in Sapien</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-left" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-10.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Tempor & Eleifend</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 ml-b-30">
                    <div class="story-item-area">
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-right" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-11.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Hymena & Commodo</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-right" data-wow-duration="1s" data-wow-delay="0.7s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-12.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Tincidunt & Integer</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-right" data-wow-duration="1s" data-wow-delay="0.9s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-13.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Faucibus & Dapibus</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                        <div class="story-item d-flex flex-wrap mrb-30 wow fade-in-right" data-wow-duration="1s" data-wow-delay="1s">
                            <div class="story-thumb-two">
                                <img src="../static/assets/images/story/story-14.png" alt="story">
                            </div>
                            <div class="story-content-two">
                                <h3 class="title">Suspen & Diam</h3>
                                <p>Consequatur pede convmanquat ante vitae magnis dapibphasellus. Velit id ligula mus lorem arcu praesent. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- story-section end -->


    <!-- know-section start -->
    <section class="know-section-two ptb-120 bg-overlay-black bg_img" data-background="assets/images/know-bg.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="know-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">The Worlds Most Exclusive Dating Site For Beautiful People Only</h2>
                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Donec justo amet nulla pellentesque suspendisse, vestibulum lorem ipsum pede neque. Neque tellus morbi a ut morbi, vestibulum mi wisi nec vitae lacus, consequat elit lorem eros justo urna, diam id sagittis dapibus pharetra. </p>
                        <a href="signup.html" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">join us for free</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- know-section end -->


    <!-- process-section start -->
    <section class="process-section process-section--style2 pd-t-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">how to find your love</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="process-item-area">
                <div class="process-element wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                    <img src="../static/assets/images/line.png" alt="line">
                </div>
                <div class="row justify-content-center ml-b-30">
                    <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.3s">
                        <div class="process-item text-center">
                            <div class="icon-gradient">
                                <i class="flaticon-login"></i>
                            </div>
                            <h3 class="title">Create a Profile</h3>
                            <p>Phasellus pulvinar diam vnec purus metus, vestibulum turpis ne trtique acmagna cubilia euilortisest. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="process-item text-center">
                            <div class="icon-gradient">
                                <i class="flaticon-dating-app"></i>
                            </div>
                            <h3 class="title">Search Matches</h3>
                            <p>Phasellus pulvinar diam vnec purus metus, vestibulum turpis ne trtique acmagna cubilia euilortisest. </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="process-item text-center">
                            <div class="icon-gradient">
                                <i class="flaticon-handshake"></i>
                            </div>
                            <h3 class="title">Start Dating</h3>
                            <p>Phasellus pulvinar diam vnec purus metus, vestibulum turpis ne trtique acmagna cubilia euilortisest. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->


    <!-- overview-section start -->
    <section class="overview-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 d-flex align-items-end pl-0">
                    <div class="overview-thumb">
                        <img src="../static/assets/images/overview.png" alt="overview">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="overview-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Share your success love story with dattero</h2>
                        <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Augue ut taciti. Integer id leo eleifend nullam, odio urna a, in tempus platea amet. Luctus scrisque non quis, tincidunt faucibus, ac ligula sed nec fusce etiam malesuada. Voluptas non viverra nunc. Lacus consequat, curae commodo erat habitasse ac, id feugiat elit in vestibulum.Nascetur integer quis ac, nisl tortor nec vestibulum. Egestas mauris lacinia, morbi vestibulum diam vestibulum accumsan dolor, quis feugiat ut ut, velit vitae felis nunc ultricies posuere, enim dignissim. Blandit proin phasellus etiam. Lacus dolor nibh integer, proin nibh quis, cras nonummy, consectetuer porta pretium ad elit, nisl elit praesent sem nibh eget neque. Amet eget augue at. Nostrum nulla eu est. Nullam parturient consectetuer, aliquet ac pulvinar sit pharetra pharetra.</p>
                        <h3 class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">WE’RE AVAILABLE 24/7, 365 DAYS A YEAR</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- overview-section end -->
{% endblock %}
