{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img" data-background={% static "assets/images/header/inner-2.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Jens & Maical`s Story</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->


    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>


    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                <li class="breadcrumb-item"><a href="story.html">Love Stories</a></li>
                <li class="breadcrumb-item active" aria-current="page">Story Details</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- about-story-section start -->
    <section class="about-story-section ptb-120 bg-overlay-white bg_img" data-background="assets/images/story/story-details-bg.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">about jens & maical</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-left" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="about-story-area d-flex flex-wrap align-items-center">
                        <div class="about-story-thumb">
                            <img src="../static/assets/images/story/story-details-1.png" alt="story">
                        </div>
                        <div class="about-story-content">
                            <div class="about-story-content-body">
                                <h3 class="title">jesika martin</h3>
                                <p>A sodales venenatis, mmodng elit tellus amet. Coodo mostie dolor amet imperdiet </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-right" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="about-story-area d-flex flex-wrap align-items-center">
                        <div class="about-story-thumb">
                            <img src="../static/assets/images/story/story-details-2.png" alt="story">
                        </div>
                        <div class="about-story-content">
                            <div class="about-story-content-body">
                                <h3 class="title">maical hook</h3>
                                <p>A sodales venenatis, mmodng elit tellus amet. Coodo mostie dolor amet imperdiet </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-story-section end -->


    <!-- story-overview-section start -->
    <section class="story-overview-section ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">our love story</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="story-overview-item-area ml-b-60">
                <div class="story-overview-area d-flex flex-wrap justify-content-between mrb-60">
                    <div class="story-overview-thumb">
                        <img src="../static/assets/images/story/story-overview-2.jpg" alt="story">
                        <div class="story-overview-thumb-overlay">
                            <img src="../static/assets/images/story/year.png" alt="story">
                            <span>2016</span>
                        </div>
                    </div>
                    <div class="story-overview-content-area">
                        <div class="story-overview-content text-center bg_img" data-background="assets/images/story/story-bg.png">
                            <div class="story-overview-body">
                                <h3 class="title">we have met each other</h3>
                                <p>Semper non gravida adipiscinnienim posuere erat habitasse. At maecenas sociosqu pellentesque sum nunc ut fermentum quam mauris. Nulla</p>
                            </div>
                        </div>
                    </div>
                    <div class="story-overview-date-area">
                        <span>25 of sept</span>
                    </div>
                </div>
                <div class="story-overview-area d-flex flex-wrap flex-row-reverse justify-content-between mrb-60">
                    <div class="story-overview-thumb">
                        <img src="../static/assets/images/story/story-overview-3.jpg" alt="story">
                        <div class="story-overview-thumb-overlay">
                            <img src="../static/assets/images/story/year.png" alt="story">
                            <span>2017</span>
                        </div>
                    </div>
                    <div class="story-overview-content-area">
                        <div class="story-overview-content text-center bg_img" data-background="assets/images/story/story-bg.png">
                            <div class="story-overview-body">
                                <h3 class="title">our first beautiful date</h3>
                                <p>Semper non gravida adipiscinnienim posuere erat habitasse. At maecenas sociosqu pellentesque sum nunc ut fermentum quam mauris. Nulla</p>
                            </div>
                        </div>
                    </div>
                    <div class="story-overview-date-area story-overview-date-area-two">
                        <span>25 of sept</span>
                    </div>
                </div>
                <div class="story-overview-area d-flex flex-wrap justify-content-between mrb-60">
                    <div class="story-overview-thumb">
                        <img src="../static/assets/images/story/story-overview-4.jpg" alt="story">
                        <div class="story-overview-thumb-overlay">
                            <img src="../static/assets/images/story/year.png" alt="story">
                            <span>2018</span>
                        </div>
                    </div>
                    <div class="story-overview-content-area">
                        <div class="story-overview-content text-center bg_img" data-background="assets/images/story/story-bg.png">
                            <div class="story-overview-body">
                                <h3 class="title">our happy engagement</h3>
                                <p>Semper non gravida adipiscinnienim posuere erat habitasse. At maecenas sociosqu pellentesque sum nunc ut fermentum quam mauris. Nulla</p>
                            </div>
                        </div>
                    </div>
                    <div class="story-overview-date-area">
                        <span>25 of sept</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- story-overview-section end -->


    <!-- gallery-section start -->
    <section class="gallery-section ptb-120 bg-overlay-white-two bg_img" data-background="assets/images/story/story-details-bg-2.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">Our sweet love Photo</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 pl-0 pr-0">
                    <div class="gallery-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/gallery-1.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/gallery-2.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/gallery-3.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-item">
                                    <div class="gallery-thumb">
                                        <img src="../static/assets/images/gallery/gallery-4.png" alt="gallery">
                                        <div class="gallery-thumb-overlay">
                                            <a href="#0"><i class="fas fa-search"></i></a>
                                            <div class="gallery-overlay-content text-center">
                                                <h3 class="title">jons & luchia`s sweet love</h3>
                                                <ul class="overlay-list">
                                                    <li><i class="far fa-heart"></i><span>03</span></li>
                                                    <li><i class="far fa-comment-alt"></i><span>00</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gallery-btn justify-content-center mrt-60">
                <a href="gallery.html" class="cmn-btn">load more</a>
            </div>
        </div>
    </section>
    <!-- gallery-section end -->


    <!-- client-section-three start -->
    <section class="client-section-four ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">Our sweet messages</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="client-item-area-four">
                        <div class="client-wrapper-three">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="client-item-four">
                                        <p>Aenean nibh fringilla vestibulum, risus aliquam ipsum, at nec aliquam quam. Mauris peltesque. Integer leo suspendisse magna ipsum lorem ullamcorper, dui aptent mauris nulla. Nulla nulla urna duis. Tellus commodi pellentesque, tincidunt pellentesque et. Sollicitudin neque, metus vestibulum accumsan nisl, nibh sed sit morbi eget in massa, dui facilisi. na.</p>
                                        <h3 class="title">Isabella Martino</h3>
                                        <div class="client-item-icon-three">
                                            <i class="flaticon-chat"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client-section-three end -->


    <!-- story-section start -->
    <section class="story-section sec-bg pd-t-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h2 class="section-title">know more love story</h2>
                        <p>Suspendisse lectus vivamus donec turpis egestas, sed at massa orci, et nibh massa augue  Fermentum arcu, potenti tellus praesent integer aliquam. </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">
                    <div class="story-thumb">
                        <img src="../static/assets/images/story/story-1.png" alt="story">
                        <div class="story-thumb-overlay">
                            <a href="#0"><i class="fas fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="story-content text-center">
                        <h3 class="title">Maecenas & Architecto</h3>
                        <p> Placerat et urna nec nam odio  slacustincidunt  enpendisse vivamus convallis magna ifend erosInteger litora dolor in netus </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.7s">
                    <div class="story-thumb">
                        <img src="../static/assets/images/story/story-2.png" alt="story">
                        <div class="story-thumb-overlay">
                            <a href="#0"><i class="fas fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="story-content text-center">
                        <h3 class="title"> Suspendisse & Vivamus </h3>
                        <p> Placerat et urna nec nam odio  slacustincidunt  enpendisse vivamus convallis magna ifend erosInteger litora dolor in netus </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="story-thumb">
                        <img src="../static/assets/images/story/story-3.png" alt="story">
                        <div class="story-thumb-overlay">
                            <a href="#0"><i class="fas fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="story-content text-center">
                        <h3 class="title">Phasellus & Rutrumassa </h3>
                        <p> Placerat et urna nec nam odio  slacustincidunt  enpendisse vivamus convallis magna ifend erosInteger litora dolor in netus </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- story-section end -->


    <!-- brand-section start -->
    <div class="brand-section sec-bg ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}