{% extends 'base.html' %}
{% load static %}
{% block title %}
    个人中心
{% endblock %}
{% block content %}
    <!-- inner-banner-section start -->
    <section class="inner-banner-section bg-overlay-primary bg_img"
             data-background={% static "assets/images/header/inner-5.png" %}>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="inner-content">
                        <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Our Members</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- inner-banner-section end -->

    <a href="#" class="scrollToTop"><i class="fas fa-heart"></i></a>
    <!-- breadcrumb-section start -->
    <div class="breadcrumb-area">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="flaticon-house"></i>Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Members</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- breadcrumb-section end -->


    <!-- team-section start -->
    <section class="team-section ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="member-search-area">
                        <form class="member-search-form">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 mrb-10">
                                    <div class="form-group">
                                        <select class="nice-select">
                                            <option data-display="looking for">looking for</option>
                                            <option>Man</option>
                                            <option>Weman</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 mrb-10">
                                    <div class="form-group form-group-two">
                                        <input type="text" name="city" placeholder="city / starte  /  zip">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 mrb-10">
                                    <div class="form-group">
                                        <select class="nice-select">
                                            <option data-display="new members">new members</option>
                                            <option>Option-1</option>
                                            <option>Option-2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 mrb-10">
                                    <div class="form-group">
                                        <input type="submit" name="job_submit" id="job_submit" value="search">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.5s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-1.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-1.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">Marina Kubora</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>25 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.9s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-2.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-2.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">Bartin Nikoriyas</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>30 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="1.2s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-3.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-3.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">monika chunityra</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>32 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.5s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-7.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-7.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">Isabella Martino</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>22 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.9s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-8.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-8.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">Liktion Pattella</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>28 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="1.2s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-9.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-9.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">ponting hook</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>25 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.5s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-10.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-10.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">Sofia Ligtales</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>32 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.9s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-11.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-11.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">William Joseph</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>45 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="1.2s">
                    <div class="team-thumb">
                        <img src="../static/assets/images/team/team-12.png" alt="team">
                        <div class="team-thumb-overlay">
                            <a class="image-popup" title="team image" href="../static/assets/images/team/team-12.png"><i
                                    class="flaticon-add-1"></i></a>
                        </div>
                    </div>
                    <div class="team-details text-center">
                        <h3 class="title"><a href="member-details.html">kingsley grey</a></h3>
                        <ul class="team-content">
                            <li>Mellbourne , Australia</li>
                            <li>30 years Old</li>
                        </ul>
                        <ul class="team-wish-list">
                            <li><i class="fas fa-heart color-red"></i><span>25</span></li>
                            <li><i class="fas fa-star color-yellow"></i><span>48</span></li>
                            <li><i class="fas fa-thumbs-up color-curious-blue"></i><span>56</span></li>
                            <li><i class="fas fa-thumbs-down color-curious-blue"></i><span>21</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team-section end -->


    <!-- member-details-slide section start -->
    <section class="member-details-slide-section pd-t-120">
        <div class="container">
            <div class="member-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="member-details-slider-thumb">
                                    <img src="../static/assets/images/team/member-8.png" alt="member">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="member-details-slider-content">
                                    <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Jons &
                                        Natalie</h2>
                                    <h4 class="sub-title wow fade-in-bottom" data-wow-duration="1s"
                                        data-wow-delay="0.5s">Conubia eleifend porttitor donec etiam sitorpce erat
                                        turpis massa arcu elementum, etiam semper neque fames eros vehicula maecenas,
                                        cum urna, odio turpis sed nonummy, et ut posuere nibh suspendisse. </h4>
                                    <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Lorem
                                        ipsum dolor sit amet, varius nunc. Nonummy tellus nibh ut suspendisse, velit nam
                                        maecenas dictum,vehicula tellus montes scelerisque elit sem. Dolor sed etiam
                                        amet mauris porta. Sodales pellentesque, mauris quis eget at. Tincidunt aptent
                                        vel mus sem ac. Nunc pede vestibulum aliquam, vestibulum dignissim nulla ac,
                                        vitae feugiat wisi accumsan rutrum justo ligula</p>
                                    <a href="member-details.html" class="cmn-btn wow fade-in-bottom"
                                       data-wow-duration="1s" data-wow-delay="0.5s">view details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="member-details-slider-thumb">
                                    <img src="../static/assets/images/team/member-8.png" alt="member">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="member-details-slider-content">
                                    <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Jons &
                                        Natalie</h2>
                                    <h4 class="sub-title wow fade-in-bottom" data-wow-duration="1s"
                                        data-wow-delay="0.5s">Conubia eleifend porttitor donec etiam sitorpce erat
                                        turpis massa arcu elementum, etiam semper neque fames eros vehicula maecenas,
                                        cum urna, odio turpis sed nonummy, et ut posuere nibh suspendisse. </h4>
                                    <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Lorem
                                        ipsum dolor sit amet, varius nunc. Nonummy tellus nibh ut suspendisse, velit nam
                                        maecenas dictum,vehicula tellus montes scelerisque elit sem. Dolor sed etiam
                                        amet mauris porta. Sodales pellentesque, mauris quis eget at. Tincidunt aptent
                                        vel mus sem ac. Nunc pede vestibulum aliquam, vestibulum dignissim nulla ac,
                                        vitae feugiat wisi accumsan rutrum justo ligula</p>
                                    <a href="#0" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s"
                                       data-wow-delay="0.5s">view details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="member-details-slider-thumb">
                                    <img src="../static/assets/images/team/member-8.png" alt="member">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="member-details-slider-content">
                                    <h2 class="title wow fade-in-up" data-wow-duration="1s" data-wow-delay="0.5s">Jons &
                                        Natalie</h2>
                                    <h4 class="sub-title wow fade-in-bottom" data-wow-duration="1s"
                                        data-wow-delay="0.5s">Conubia eleifend porttitor donec etiam sitorpce erat
                                        turpis massa arcu elementum, etiam semper neque fames eros vehicula maecenas,
                                        cum urna, odio turpis sed nonummy, et ut posuere nibh suspendisse. </h4>
                                    <p class="wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="0.5s">Lorem
                                        ipsum dolor sit amet, varius nunc. Nonummy tellus nibh ut suspendisse, velit nam
                                        maecenas dictum,vehicula tellus montes scelerisque elit sem. Dolor sed etiam
                                        amet mauris porta. Sodales pellentesque, mauris quis eget at. Tincidunt aptent
                                        vel mus sem ac. Nunc pede vestibulum aliquam, vestibulum dignissim nulla ac,
                                        vitae feugiat wisi accumsan rutrum justo ligula</p>
                                    <a href="#0" class="cmn-btn wow fade-in-bottom" data-wow-duration="1s"
                                       data-wow-delay="0.5s">view details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="counter-area counter-area-two counter-area--style wow fadeInUp" data-wow-duration="0.7s"
                 data-wow-delay="0.9s">
                <div class="row justify-content-end ml-b-30">
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mrb-30">
                        <div class="counter-item">
                            <h2 class="counter-number">15000</h2>
                            <span class="counter-content">weman online</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center mrb-30">
                        <div class="counter-item">
                            <h2 class="counter-number">15000</h2>
                            <span class="counter-content">men online</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- member-details-slide section end -->


    <!-- package-section start -->
    <section class="package-section pd-t-120">
        <div class="container">
            <div class="row ml-b-30">
                <div class="col-lg-4 col-md-6 col-sm-8 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                     data-wow-delay="0.5s">
                    <div class="package-left-content">
                        <h2 class="title">Our Popular Packages</h2>
                        <p>Dusto lacus in odio dolor feugiat gravidaegtas tellus elit lorem amet nostrud, nulla et
                            unulla velit. Urna lacinia. Magna eget, vehicula sed a vestibulum gravida sit, dis lectus
                            egestas fusce consequuntur ullamcorper</p>
                        <a href="pricing.html" class="cmn-btn">check more pack</a>
                    </div>
                </div>
                <div class="col-lg-8 mrb-30">
                    <div class="package-right-area">
                        <div class="row ml-b-30">
                            <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                                 data-wow-delay="0.8s">
                                <div class="package-item">
                                    <div class="package-thumb text-center">
                                        <img src="../static/assets/images/price/package-1.png" alt="package">
                                    </div>
                                    <div class="package-details">
                                        <h3 class="title">Golden pack</h3>
                                        <ul class="package-list">
                                            <li>Lifetime membership <span>yes</span></li>
                                            <li>Profile security <span>100%</span></li>
                                            <li>free notification <span>Yes</span></li>
                                        </ul>
                                        <div class="package-btn text-center">
                                            <a href="pricing.html" class="btn-border">buy now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 mrb-30 wow fade-in-bottom" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <div class="package-item">
                                    <div class="package-thumb text-center">
                                        <img src="../static/assets/images/price/package-2.png" alt="package">
                                    </div>
                                    <div class="package-details">
                                        <h3 class="title">Diamond Pack</h3>
                                        <ul class="package-list">
                                            <li>Lifetime membership <span>yes</span></li>
                                            <li>Profile security <span>100%</span></li>
                                            <li>free notification <span>Yes</span></li>
                                        </ul>
                                        <div class="package-btn text-center">
                                            <a href="pricing.html" class="btn-border">buy now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- package-section end -->


    <!-- brand-section start -->
    <div class="brand-section ptb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-wrapper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-1.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-2.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-3.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-4.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="BrandSlider">
                                    <div class="brand-item">
                                        <img src="../static/assets/images/brand/brand-5.png" alt="logo images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand-section end -->
{% endblock %}
