{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ zone.zone_name }}
{% endblock %}
{% block custom_style %}
    <style>
        .blog-thumb {
            height: 15rem;
        }

        .blog-thumb img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
{% endblock %}
{% block content %}
    {% include 'zone_common.html' %}
    <!-- blog-section start -->
    <section class="blog-section ptb-120" id="zone-start">
        <div class="container">
            <div class="row justify-content-center ml-b-30">
                <div class="col-lg-8 mrb-30">
                    {% for post in posts %}
                        <div class="blog-item mrb-60 wow fade-in-bottom" data-wow-duration="1s" data-wow-delay="1.2s">
                            <div class="blog-thumb">
                                <img src='{{ post.post_image.url }}' alt="{{ post.post_title }}">
                            </div>
                            <div class="blog-content">
                                <h3 class="title"><a
                                        href="/post-{{ post.post_layout_mode }}?post_id={{ post.post_id }}">{{ post.post_title }}</a>
                                </h3>
                                <ul class="blog-content-list">
                                    <li><i class="fas fa-eye color-red"></i><span>{{ post.post_view }}</span></li>
                                    <li><i class="fas fa-heart color-yellow"></i><span>{{ post.post_like }}</span></li>
                                    <li>
                                        <i class="fas fa-star color-curious-blue"></i><span>{{ post.collection_set.count }}</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-comment color-curious-blue"></i><span>{{ post.review_set.count }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                    {# pagination-section start #}
                    {% include 'zone_pagination.html' %}
                    {# pagination-section end #}
                </div>
                {# widget-section start #}
                {% include 'zone_widget.html' %}
                {# widget-section end #}
            </div>
        </div>
    </section>
    <!-- blog-section start -->
{% endblock %}
